<%- include('includes/registerHeader.ejs') %>

    <div class="main">
      <div class="imgbox">
        <img src="/images/logo.svg" alt="Logo">
      </div>
      <div class="signin">
        <div class="logo">
          <img src="/images/logo-dark.svg" alt="">
          <h2>Al-Hadi Mart</h2>
        </div>
        <form class="signin-form" action="/forget" method="post">
          <h3>Reset Password ></h3>
          <div class="input-field">
            <label for="phone">Mobile number:</label>
            <div style="display: flex; justify-content: space-between; margin: 0; padding: 0; width: 102%;">
              <input style="width: 10%; padding-right: 10px;" type="text" value="+92" readonly>
              <input style="width: 130%; margin-left: 10px;" type="text" name="phone" value="<%= phone %>" placeholder="301 1234567" autocomplete="off" required>
            </div>
          </div>
          <% if(msg !== ''){ %>
            <p style="color: <%= msgColor %>" class="error"><%= msg %></p>
          <% } %>
          <button type="submit" name="button">Reset</button>

        </form>
        <p>Don't have an account? <a href="/signup">Signup</a> <br>
        Already have an account? <a href="/signin">Signin</a> </p>

      </div>
    </div>

<%- include('includes/registerFooter.ejs') %>