<%- include('includes/header.ejs') %>

  <div class="mycontent">

    <div class="navbar">
      <div class="hamburger">
        <div class="burgline"></div>
        <div class="burgline"></div>
        <div class="burgline"></div>
      </div>
      <h2>Welocome <%= name %>!</h2>
      <% if(isSignedin){ %>
        <a class="profile" href="/profile">
          <img src="/images/man.png" alt="">
          <h3><%= name %> ></h3>
        </a>
      <% } %>
      <% if(! isSignedin){ %>
        <a class="profile" href="/signin">
          <img src="/images/man.png" alt="">
          <h3>Sign in ></h3>
        </a>
      <% } %>

    </div>

    <section id='products'>

        <h2>Add User</h2>

        <form class="signin-form" action="/adduser" method="POST">
            <div class="input-field">
                <label for="name">Name:</label>
                <input type="text" name="name" value="" placeholder="John Doe" autocomplete="off" required>
              </div>
              <div class="input-field">
                <label for="email">Email:</label>
                <input type="text" name="email" value="" placeholder="john@web.com" autocomplete="off" required>
              </div>
              <div class="input-field">
                <label for="email">Phone:</label>
                <input type="text" name="phone" value="" placeholder="0301 1234567" autocomplete="off" required>
              </div>
              <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="6-15 Characters" autocomplete="off" required>
              </div>
            <br>
            <h3>Select admin permissions</h3>
            <br>
            <label class="container"> Product management
                <input type="checkbox" name="product">
                <span class="checkmark"></span>
            </label>
            <label class="container"> User management
                <input type="checkbox" name="user">
                <span class="checkmark"></span>
            </label>
            <label class="container"> Orders management
                <input type="checkbox" name="order">
                <span class="checkmark"></span>
            </label>
            <% if(msg !== ''){ %>
                <p style="color: <%= msgColor %>" class="error"><%= msg %></p>
            <% } %>
            <button type="submit" name="button">Add User</button>
        </form>

        <br>
  
      </section>

  </div>

  <%- include('includes/footer.ejs') %>